{% extends 'base-admin7.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
    <a href="{{ path('admin_auteur_index') }}" class="btn btn-dark bg-dark my-2">back to list</a>

    <h1 >Create new Auteur</h1>

    {{ include('admin_auteur/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script>
        $("form[name='auteur']").on("submit", function(event){
            // on bloque l'envoie du formulaire
            //event.preventDefault();
            // on verifie si les 3 champs sont vides
            if($("#auteur_pseudo").val()=="" && $("#auteur_nom").val()=="" && $("#auteur_prenom").val()==""){
                alert("veuillez remplir un champ");
                return false;
            }
            return true;
        });
    </script>
{% endblock %}
